<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Housing approval</title>
    <link rel="stylesheet" href="housing.css">
</head>
<body>
    <div class="text-box1">
        <h1>Guest House Approval</h1>
    </div>
    <div class="text-box2">
        <h1>Hostel room Approval</h1>
    </div>
    <div class="text-box3">
        <h1>Married student's housing Approval</h1>
    </div>
    <div class="text-box4">
        <h1>Day Scholar Approval</h1>
    </div>
</body>
</html>