<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="Login.css">
</head>
<body>
    <div className="loginbox">
        <img src="avatar.png" alt="" class="avatar"/> 
     <h1>
         Login here
     </h1>
     <form onSubmit={handleSubmit}>
         <p>Username</p>
         <input type="text" name="" placeholder="Enter Username" >
         <p>Password</p>
         <input type="password" name="" placeholder="Enter Password" >
         <h1 id="captchaHeading" type="heading">Captcha </h1>
        <div id="captchaBackground" type="background">
            <canvas id="captcha" type="captcha">captcha text</canvas>
            <input id="textBox" type="text2" name="text">
            <div id="buttons">
                <input id="submitButton" type="submit">
                <button id="refreshButton" type="refresh">Refresh</button>

        <a href="https://google.com">Forgot Password?</a><br>
        <a href="https://google.com">Don't have an account</a><br>
        </form>
            </div>
        <span id="output"></span>
        </div>
    </div>
 <script src="Login.js"></script>
</body>
</html>