@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin:0;
    padding:0;
}
body{
    background:url(login.jpg)no-repeat center;
    background-size:cover;
    height:auto;
    font-family:'Roboto',sans-serif;

}

.title{
    display:block;
    font-family:'Roboto';
    margin:10px auto 5px;
    width:300px;
}
.container{
    max-width:800px;
    height:600px;

    margin:50px auto;
    box-sizing:border-box;
    padding:40px;
    box-shadow:0 0 20px rgba(72,98,85,0.6);
    padding:40px;
}

.container p{
    text-transform:uppercase;
    text-align:center;
    font-size:45px;
    margin-bottom:20px;
    color:#486255;
    Letter-spacing:1px;
    box-sizing: border-box;
    box-shadow:black;
    border-radius:5px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
}

.input,.msg .area{
    width:100%;
    padding:20px;
    box-sizing:border-box;
    margin-bottom:25px;
    border:2px solid #e9eaea;
    font-size:14px;
    border-radius:5px;
    transition:all 0.5s ease;
}

.login .input{
    width:48%;
    float:left;
    margin-right:4%; 
}

.login .input:last-child{
    margin-right:0;
}

.msg .area{
    height:200px;
}

.btn{
    width:250px;
    background:#486255;
    height:50px;
    text-align:center;
    line-height:50px;
    color:#fff;
    text-transform:uppercase;
    margin:0 auto;
    cursor:pointer;
    border-radius:5px;
    transition:0.5s;
}
.btn:hover{
    color:beige;
}

.input:focus,
.msg .area:focus{
    border:2px solid #486255;
}